


.Mcontainer {
  display: flex;
  justify-content: space-between;
}

.Mcard {
  width: 50vh;
  height: 50vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.Mposter {
  height: '10px';
  width:'20px';
}