
.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: ; */
  margin-top: 3rem
}

.Search{
  order: 1;
  margin-left:1rem;
  margin-top: 2rem;
  /* display: flex; */
  /* width: 40vw; */
}
.Sbar{
  font-size: 4vh;
  height: 5vh;
  width:20vw;
}
.Sbutton{
  width: 2rem;
  height: 2rem;
}
.Mcontainer {
  display: flex;
  justify-content: space-between;
  order:0;
}

.Ncontainer{
  order:2;
}
.Mcard {
  width: 65vh;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.label{
  margin-right:1rem;
  font-size: 1.5rem;
}

.nominated-movies {
  
  list-style-type:decimal
}

.review-text {
 width: 98%;
 
 
}