
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html, body {  min-height: 100vh; background-color:#ffbfbf; font-family: 'Itim', cursive;; }
.body {
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  /* flex:1; */
  
  
}

.clappingGif{
  
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.shade{
  background-color: rgba(0,0,0,0.9);background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  
  
}

.Dclapping{
  z-index: 1000;
  
  

}
.Search{
  
  margin-left:1rem;
  margin-top: 2rem;
  /* display: flex; */
  /* width: 40vw; */
}
.Sbar{
  font-size: 4vh;
  height: 5vh;
  width:20vw;
  margin-left: 1em;
}
.Sbutton{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.cards{
  display: flex;
  justify-content: center;
  
  
}
.Mcontainer {
margin-top: 30px;
text-align: center;
}

.Mrating {
  margin-left: 1em;
  font-weight: 400;
}

.Mtitle {
  margin-left: 1em;
  font-weight: 500;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #c27a7a;
  
}
.Mdescription{
  text-shadow: 1px 1px 1px #c27a7a;
  font-weight: 200;
  font-size: 1.5em;
}
.Mgenre {
  font-weight: 200;
  
}

.Mcard {
  width: 65vh;
  height: fit-content;
  margin-right: 25em;
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Ncontainer{
  background-color: white;
  padding-right: 1em;
  text-align: center;
}
.nominations{

}

.Ntitle{
  
}
.review{
  display: flex;
  flex-direction: column;
}

.label{
  
  font-size: 1.5rem;
  
}


.nominated-movies {
  
  list-style-type:decimal
}

.review-text {
 width: 98%;
 
 
}